@model ColecticaSdkMvc.Models.CategorySchemeModel

@{
    Layout = "~/Views/Shared/_Item.cshtml";
    ViewBag.Title = "Category List";
}

<h2>@Model.CategoryScheme.DisplayLabel</h2>





@if (Model.CategoryScheme.Categories.Count == 0)
{
    <p>No results were found.</p>
}
else
{
    <table class="responsive-card-table unstriped" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th align="left">DisplayLabel</th>
                <th align="left">Agency Id</th>
                <th align="left">Identifier</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.CategoryScheme.Categories)
            {
                <tr>
                    <td>
                        <button onclick="location.href='@Url.Action("Index", "Item", new { agency = @result.AgencyId, id = result.Identifier })';return false;">Study</button>
                    </td>
                    <td data-label="DisplayLabel">@result.DisplayLabel</td>
                    <td data-label="AgencyId">@result.AgencyId</td>
                    <td data-label="Identifier">@result.Identifier</td>
                </tr>
            }
        </tbody>
    </table>
}

