@model ColecticaSdkMvc.Models.LevenshteinModel

@{
    Layout = "~/Views/Shared/_Item.cshtml";
    <link href="@Url.Content("~/Content/Responsive-Card-Table.css")" rel="stylesheet" type="text/css" />
}


@if (Model.Results.Count == 0)
{
    <p>No matches are referenced in these studies.</p>
}
else
{
    <div style="height:80vh; overflow:auto">
        <table class="responsive-card-table unstriped" style="width:100%">
            <thead>
                <tr>
                    <th align="left">Question</th>
                    <th align="left">Question Text</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.QuestionId</td>
                    <td>@Model.QuestionText</td>
                </tr>
            </tbody>
        </table>
        <table class="responsive-card-table unstriped" style="width:100%">
            <thead>
                <tr>
                    <th align="left">Result</th>
                    <th align="left">Question</th>
                    <th align="left">Question Text</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var question in Model.Results)
                {
                    <tr>
                        <td>@question.Results</td>
                        <td>@question.QuestionId</td>
                        <td>@question.QuestionText</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
