@model ColecticaSdkMvc.Models.ResetMatchesModelStepOne

@{
    Layout = "~/Views/Shared/_Item.cshtml";
    <link href="@Url.Content("~/Content/Responsive-Card-Table.css")" rel="stylesheet" type="text/css" />
}


@if (Model.Matches.Count == 0)
{
    <p>No matches are referenced in these studies.</p>
}
else
{
    <table class="responsive-card-table unstriped" style="width:100%">
        <thead>
            <tr>
                <th align="left">Question #1</th>
                <th align="left">Question #2</th>
                <th align="left">Matches</th>
                <th align="left">Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Questions1</td>
                <td>@Model.Questions2</td>
                <td>@Model.Matches.Count()</td>
                <td>@Model.Duration</td>
            </tr>
        </tbody>
    </table>
    <div>

        <table class="responsive-card-table unstriped" style="width:100%">
            <thead>
                <tr>
                    <th align="left" style="width:5%">Length</th>
                    <th align="left" style="width:10%">Question</th>
                    <th align="left" style="width:35%">Study #1</th>
                    <th align="left" style="width:5%">Length</th>
                    <th align="left" style="width:10%">Question</th>
                    <th align="left" style="width:35%">Study #2</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var question in Model.Matches)
                {
                    if (string.Compare(question.Question1.Trim(), question.Question2.Trim()) != 0)
                    {

                        <tr>
                            <td><strong>@question.Question1.Length</strong></td>
                            <td><strong>@question.DisplayName1</strong></td>
                            <td><strong>@question.Question1</strong></td>
                            <td><strong>@question.Question2.Length</strong></td>
                            <td><strong>@question.DisplayName2</strong></td>
                            <td><strong>@question.Question2</strong></td>
                        </tr>

                    }
                    else
                    {
                        <tr>
                            <td>@question.Question1.Length</td>
                            <td>@question.DisplayName1</td>
                            <td> @question.Question1 </td>
                            <td>@question.Question2.Length</td>
                            <td>@question.DisplayName1</td>
                            <td> @question.Question2 </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
}