@model ColecticaSdkMvc.Models.HomeModel

@{
    ViewBag.Title = "Index";

    <link href="@Url.Content("~/Content/Responsive-Card-Table.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/smenu.css" rel="stylesheet" type="text/css" />
}
<style type="text/css">
    ul {
        list-style-type: none;
    }
</style>

@using (Html.BeginForm("Select", "Home", FormMethod.Post, new { id = "SearchForm2" }))
{
    int itemCount = 0;

    if (Model.Results.Count == 0)
    {
        <p>No results were found.</p>
    }
    else
    {
        <h3 style="text-align:center">Please select two Studies to Compare and select a Comparison method</h3>
        <div class="float-left">
            <ul id="snav">
                @if (Model.Results != null)
                {
                    foreach (var item in @Model.Results)
                    {
                        itemCount++;
                        var checkBoxId = "chk" + item.result.DisplayLabel;
                        var mdId = "md" + item.result.DisplayLabel;
                        <li>
                            <a href="#" )>
                                <input id="item@(item.result.AgencyId + " " + item.result.Identifier.ToString())"
                                       type="checkbox"
                                       name="SelectedStudies"
                                       value="@item.result.AgencyId  @item.result.Identifier.ToString()"
                                       @(Model.SelectedStudies.Contains(item.result.AgencyId + " " + @item.result.Identifier.ToString()) ? "checked" : "") />
                                @item.result.DisplayLabel
                            </a>
                        </li>                       
                    }
                }
            </ul>
        </div>
        <input name="command" type="submit" value="Match Question and Text" id="save" , style="font-size:small;width:16%" />
        <input name="command" type="submit" value="Match Question Text" id="save" , style="font-size:small; width:16%" />
        <input name="command" type="submit" value="All Word Matching" id="save" , style="font-size:small; width:16%" />
        <input name="command" type="submit" value="Larger Word Matching" id="save" , style="font-size:small; width:16%" />
        <input name="command" type="submit" value="Question Text & All Word Matching" id="save" , style="font-size:small; width:16%" />
        <input name="command" type="submit" value="Question Text & Larger Word Matching" id="save" , style="font-size:small; width:18%" />
    }
}
