@model ColecticaSdkMvc.Models.HomeModel

@{
    ViewBag.Title = "Index";

    <link href="@Url.Content("~/Content/Responsive-Card-Table.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/smenu.css" rel="stylesheet" type="text/css" />
}
<style type="text/css">
    ul {
        list-style-type: none;
    }

    .auto-style-xs {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: smaller;
        font-weight: normal;
    }

    .multi-list {
        float: left;
        padding-right: 5px;
    }

    .multi-column {
        border: 1px solid #3e4547;
        overflow: auto;
        box-shadow: 2px 2px 8px #000000;
        background-color: #d4d5d8;
    }
</style>

@using (Html.BeginForm("Select", "Home", FormMethod.Post, new { id = "SearchForm2" }))
{
    int itemCount = 0;

        
   
<div style="margin-top:20px">
    <div style="margin-bottom:20px">
        <label><strong>Studies</strong></label>
        @Html.DropDownListFor(x => Model.StudyId, new SelectList(Model.Studies, "Value", "Text"), "-- Select Study --", new { onchange = "document.getElementById('SearchForm2').submit();" })
    </div>
    <div class="multi-column" style="width:55%; height:70vh; float:left; position:fixed">
        @if (Model.Results.Count != 0)
        {

        <ul class="multi-list">
            @foreach (var item in Model.Results)
            {
                itemCount++;
                <li class="auto-style-xs">
                    <input id="item@(item.AgencyId + " " + item.Identifier.ToString())"
                           type="checkbox"
                           name="SelectedStudies"
                           value="@item.AgencyId  @item.Identifier.ToString()"
                           @(Model.SelectedStudies.Contains(item.AgencyId + " " + @item.Identifier.ToString()) ? "checked" : "") />
                    @item.DisplayLabel
                </li>
                if (Model.Results.Count() > 30 && itemCount == (int)(Model.Results.Count() / 2))
                {
                    @Html.Raw("</ul><ul class=\"multi-list\">");
                    itemCount = 0;
                }
            }
        </ul>
        }
    </div>
    <div style="width:33%; float:right">
        <div style="width:100%">
            <h2>Select Studies to Compare</h2>
            <h5>
                There are a number of methods for matching Questions between Studies. Some of these will
                only match questions if there is a 100% match. Other methods will provide a result based on
                the selected percentage match.
            </h5>
            <h5>Select the methods you wish to use below and and either count or display matching questions</h5>
        </div>
        <div class="float-left">
            <ul>
                @foreach (var item in Model.Methods)
                {
                    <li class="auto-style-xs">
                        <input id="item@(item.Text)"
                               type="checkbox"
                               name="SelectedMethods"
                               value="@item.Text"
                               @(Model.SelectedMethods.Contains(item.Text) ? "checked" : "") />
                        @item.Text
                    </li>
                }
            </ul>
        </div>
        <div style="width:100%">
            <input name="command" type="submit" value="Count Matches" id="count" , style="font-size:small;width:45%" />
            <input name="command" type="submit" value="Display Matches" id="display" , style="font-size:small; width:45%" />
        </div>
    </div>
</div>
    @*<input name="command" type="submit" value="Match Question and Text" id="save" , style="font-size:small;width:16%" />
    <input name="command" type="submit" value="Match Question Text" id="save" , style="font-size:small; width:16%" />
    <input name="command" type="submit" value="All Word Matching" id="save" , style="font-size:small; width:16%" />
    <input name="command" type="submit" value="Larger Word Matching" id="save" , style="font-size:small; width:16%" />
    <input name="command" type="submit" value="Question Text & All Word Matching" id="save" , style="font-size:small; width:16%" />
    <input name="command" type="submit" value="Question Text & Larger Word Matching" id="save" , style="font-size:small; width:18%" />*@
  }